In [2]:
# !pip install pandas

In [37]:
import pandas as pd

file_path = '20241121-Powerball Results  G NETWORK.csv'
data = pd.read_csv(file_path)

In [38]:
data

         Date  #1  #2  #3  #4  #5  #6  #7  PB
0    21/11/24   3  11  15  19  22  30  31   2
1    14/11/24   4   5  10  11  14  19  25  20
2    07/11/24   3  15  23  26  31  32  33   6
3    31/10/24   3   9  11  14  26  34  35   7
4    24/10/24   1   5   8   9  14  22  33   2
..        ...  ..  ..  ..  ..  ..  ..  ..  ..
340  17/05/18   3   9  16  25  26  31  34   9
341  10/05/18   6  14  15  24  26  32  35  14
342  03/05/18   1   3   6  16  19  20  24  13
343  26/04/18   9  14  15  19  24  34  35  12
344  19/04/18   4   5   9  13  25  32  33   7

[345 rows x 9 columns]

In [5]:
from collections import Counter

# Combine columns #1 to #7 into a single series
combined_numbers = pd.concat([data[f'#{i}'] for i in range(1, 8)], axis=0)

# Count occurrences of each number for #1 to #7
number_counts = Counter(combined_numbers)

# Most common numbers between #1 and #7
most_common_numbers = number_counts.most_common()
most_common_number = most_common_numbers[0][0]
most_common_frequency = most_common_numbers[0][1]

print("Most common numbers between #1 and #7:")
print(f"Number: {most_common_number}, Frequency: {most_common_frequency}")

# Least common numbers between #1 and #7
least_common_numbers = [num for num, freq in number_counts.items() if freq == min(number_counts.values())]
print("Least common numbers between #1 and #7:")
print(f"Numbers: {least_common_numbers}, Frequency: {min(number_counts.values())}")

# Count occurrences of each number in PB
pb_counts = Counter(data['PB'])

# Most common number in PB
most_common_pb = pb_counts.most_common(1)[0]
print("Most common number in PB:")
print(f"Number: {most_common_pb[0]}, Frequency: {most_common_pb[1]}")

# Least common numbers in PB
least_common_pb = [num for num, freq in pb_counts.items() if freq == min(pb_counts.values())]
print("Least common numbers in PB:")
print(f"Numbers: {least_common_pb}, Frequency: {min(pb_counts.values())}")

Most common numbers between #1 and #7:
Number: 17, Frequency: 82
Least common numbers between #1 and #7:
Numbers: [15, 26, 33], Frequency: 59
Most common number in PB:
Number: 2, Frequency: 27
Least common numbers in PB:
Numbers: [14], Frequency: 8

In [6]:
number_counts

Counter({17: 82,
         7: 81,
         9: 80,
         3: 76,
         11: 76,
         20: 76,
         2: 74,
         6: 73,
         10: 72,
         16: 72,
         18: 72,
         12: 71,
         23: 71,
         25: 71,
         32: 71,
         19: 70,
         30: 70,
         4: 69,
         14: 69,
         28: 69,
         22: 68,
         35: 68,
         5: 67,
         27: 67,
         21: 66,
         24: 66,
         8: 64,
         34: 63,
         13: 62,
         1: 61,
         29: 61,
         31: 60,
         15: 59,
         26: 59,
         33: 59})

In [24]:
pb_counts

Counter({2: 27,
         4: 24,
         6: 23,
         15: 21,
         19: 21,
         7: 20,
         10: 20,
         3: 20,
         20: 18,
         9: 18,
         11: 18,
         18: 17,
         13: 16,
         17: 15,
         1: 13,
         16: 12,
         5: 12,
         8: 12,
         12: 10,
         14: 8})

In [30]:
most_common_numbers = [k for (k, v) in number_counts.most_common(7)]
pb_most_common_number = pb_counts.most_common(1)[0][0]
print(f"1. #1 ~ #7: {most_common_numbers}. PB: {pb_most_common_number}")

1. #1 ~ #7: [17, 7, 9, 3, 11, 20, 2]. PB: 2

In [31]:
least_common_numbers = [k for (k, v) in number_counts.most_common()[:-8:-1]]
pb_least_common_number = pb_counts.most_common()[:-8:-1][0][0]
print(f"2. #1 ~ #7: {least_common_numbers}. PB: {pb_least_common_number}")

2. #1 ~ #7: [33, 26, 15, 31, 29, 1, 13]. PB: 14

In [35]:
import random

def pick_random_7(most_common_numbers, least_common_numbers):
    # Combine the two lists
    combined_list = most_common_numbers + least_common_numbers
    # Randomly select 7 unique numbers from the combined list
    return random.sample(combined_list, 7)


def pick_3_and_4(most_common_numbers, least_common_numbers):
    # Ensure there are enough elements in both lists
    if len(most_common_numbers) < 3 or len(least_common_numbers) < 4:
        raise ValueError("Not enough elements in one of the lists to pick the required numbers.")
    
    # Randomly select 3 from one list and 4 from the other
    chosen_from_most_common = random.sample(most_common_numbers, 3)
    chosen_from_least_common = random.sample(least_common_numbers, 4)
    
    # Combine the two selections
    return chosen_from_most_common + chosen_from_least_common

random_7 = pick_random_7(most_common_numbers, least_common_numbers)

random_3_and_4 = pick_3_and_4(most_common_numbers, least_common_numbers)

pb_list = [pb_most_common_number, pb_least_common_number]
pb = random.sample(pb_list, 1)[0]
print(f"3. #1 ~ #7: {random_7}. PB: {pb}")

pb = random.sample(pb_list, 1)[0]
print(f"4. #1 ~ #7: {random_3_and_4}. PB: {pb}")

3. #1 ~ #7: [31, 9, 29, 3, 11, 2, 33]. PB: 2
4. #1 ~ #7: [3, 2, 9, 13, 15, 29, 1]. PB: 14

In [49]:
import pandas as pd
from collections import Counter
from datetime import datetime

def calculate_count_difference(data, date_column, number_columns, year):
    """
    Calculate the count difference for each number based on the whole sheet and the last year.

    Args:
        data (pd.DataFrame): The dataframe containing the data.
        date_column (str): The name of the column containing dates.
        number_columns (list): A list of column names (#1 to #7) containing numbers.
        year (int): The year to calculate the counts for the last year.

    Returns:
        dict: A dictionary with numbers as keys and the count difference as values.
    """
    # Convert the date column to datetime
    data[date_column] = pd.to_datetime(data[date_column], format='%d/%m/%y')
    
    # Filter rows for the given year
    last_year_data = data[data[date_column].dt.year == year]
    
    # Combine numbers from all columns (#1 to #7) for the whole sheet
    whole_sheet_numbers = pd.concat([data[col] for col in number_columns], axis=0)
    whole_sheet_counts = Counter(whole_sheet_numbers)
    
    # Combine numbers from all columns (#1 to #7) for the last year
    last_year_numbers = pd.concat([last_year_data[col] for col in number_columns], axis=0)
    last_year_counts = Counter(last_year_numbers)
    
    # Calculate the difference for each number
    count_difference = {
        number: whole_sheet_counts[number] - last_year_counts[number]
        for number in whole_sheet_counts
    }
    
    # Sort by count_difference values
    sorted_count_difference = sorted(count_difference.items(), key=lambda x: x[1], reverse=True)
    
    return sorted_count_difference


year = 2024
count_difference = calculate_count_difference(
    data=data,
    date_column='Date',
    number_columns=['#1', '#2', '#3', '#4', '#5', '#6', '#7'],
    year=year
)

print("Count Difference:")
print(count_difference)

pb_difference = calculate_count_difference(
    data=data,
    date_column='Date',
    number_columns=['PB'],
    year=year
)
print("PB Difference:")
print(pb_difference)


top7_diff = [k for k, v in count_difference[:7]]
pb_top_diff = [k for k, v in pb_difference[:1]]
print()
print(f"5. #1 ~ #7: {top7_diff}. PB: {pb_top_diff}")

Count Difference:
[(17, 76), (7, 71), (11, 68), (3, 66), (9, 66), (2, 65), (14, 64), (19, 64), (23, 64), (28, 63), (16, 62), (20, 62), (10, 61), (27, 61), (25, 61), (22, 60), (35, 60), (4, 59), (18, 59), (32, 59), (6, 58), (30, 58), (21, 57), (24, 57), (12, 56), (29, 56), (5, 55), (13, 55), (8, 55), (1, 53), (26, 53), (15, 51), (31, 51), (34, 50), (33, 50)]
PB Difference:
[(2, 21), (19, 21), (3, 19), (6, 18), (15, 18), (7, 17), (4, 17), (20, 16), (10, 16), (18, 15), (9, 15), (13, 15), (11, 15), (17, 13), (5, 12), (8, 12), (1, 11), (12, 10), (16, 9), (14, 8)]

5. #1 ~ #7: [17, 7, 11, 3, 9, 2, 14]. PB: [2]

In [51]:
def calculate_and_sort_count_difference(data, date_column, number_columns, start_year, end_year):
    """
    Calculate and sort the count difference for each number based on the whole sheet and a range of years.

    Args:
        data (pd.DataFrame): The dataframe containing the data.
        date_column (str): The name of the column containing dates.
        number_columns (list): A list of column names (#1 to #7) containing numbers.
        start_year (int): The start year of the range.
        end_year (int): The end year of the range.

    Returns:
        list: A list of tuples (number, count_difference) sorted by count_difference.
    """
    # Convert the date column to datetime
    data[date_column] = pd.to_datetime(data[date_column], format='%d/%m/%y')
    
    # Filter rows for the specified range of years
    range_data = data[(data[date_column].dt.year >= start_year) & (data[date_column].dt.year <= end_year)]
    
    # Combine numbers from all columns (#1 to #7) for the whole sheet
    whole_sheet_numbers = pd.concat([data[col] for col in number_columns], axis=0)
    whole_sheet_counts = Counter(whole_sheet_numbers)
    
    # Combine numbers from all columns (#1 to #7) for the filtered range
    range_numbers = pd.concat([range_data[col] for col in number_columns], axis=0)
    range_counts = Counter(range_numbers)
    
    # Calculate the difference for each number
    count_difference = {
        number: whole_sheet_counts[number] - range_counts[number]
        for number in whole_sheet_counts
    }
    
    # Sort by count_difference values
    sorted_count_difference = sorted(count_difference.items(), key=lambda x: x[1], reverse=True)
    
    return sorted_count_difference


start_year = 2021 
end_year = 2024
count_difference = calculate_and_sort_count_difference(
    data=data,
    date_column='Date',
    number_columns=['#1', '#2', '#3', '#4', '#5', '#6', '#7'],
    start_year=start_year,
    end_year=end_year
)

print("Count Difference:")
print(count_difference)

pb_difference = calculate_and_sort_count_difference(
    data=data,
    date_column='Date',
    number_columns=['PB'],
    start_year=start_year,
    end_year=end_year
)
print("PB Difference:")
print(pb_difference)


top7_diff = [k for k, v in count_difference[:7]]
pb_top_diff = [k for k, v in pb_difference[:1]]
print()
print(f"6. #1 ~ #7: {top7_diff}. PB: {pb_top_diff}")

Count Difference:
[(9, 40), (17, 39), (11, 36), (7, 35), (2, 34), (32, 34), (23, 32), (27, 32), (3, 31), (14, 31), (20, 31), (24, 31), (28, 30), (29, 30), (16, 29), (22, 29), (1, 28), (8, 28), (25, 28), (35, 28), (4, 27), (10, 27), (21, 27), (19, 27), (18, 26), (5, 25), (30, 25), (26, 24), (12, 23), (31, 23), (33, 22), (6, 21), (13, 21), (34, 21), (15, 19)]
PB Difference:
[(19, 15), (2, 11), (3, 11), (7, 10), (13, 9), (4, 9), (6, 8), (9, 8), (20, 7), (12, 7), (10, 6), (17, 6), (11, 6), (1, 5), (16, 4), (15, 4), (18, 4), (5, 4), (14, 4), (8, 4)]

6. #1 ~ #7: [9, 17, 11, 7, 2, 32, 23]. PB: [19]

In [52]:
start_year = 2019 
end_year = 2024
count_difference = calculate_and_sort_count_difference(
    data=data,
    date_column='Date',
    number_columns=['#1', '#2', '#3', '#4', '#5', '#6', '#7'],
    start_year=start_year,
    end_year=end_year
)

print("Count Difference:")
print(count_difference)

pb_difference = calculate_and_sort_count_difference(
    data=data,
    date_column='Date',
    number_columns=['PB'],
    start_year=start_year,
    end_year=end_year
)
print("PB Difference:")
print(pb_difference)


top7_diff = [k for k, v in count_difference[:7]]
pb_top_diff = [k for k, v in pb_difference[:1]]
print()
print(f"7. #1 ~ #7: {top7_diff}. PB: {pb_top_diff}")

Count Difference:
[(32, 13), (29, 12), (9, 10), (17, 10), (24, 10), (25, 10), (2, 9), (7, 9), (14, 9), (22, 9), (23, 9), (34, 9), (35, 9), (3, 8), (5, 8), (13, 8), (18, 8), (20, 8), (28, 8), (19, 7), (30, 7), (33, 7), (4, 6), (6, 6), (8, 6), (15, 6), (31, 6), (16, 5), (26, 5), (1, 4), (10, 4), (21, 4), (27, 4), (11, 3), (12, 3)]
PB Difference:
[(3, 4), (19, 4), (20, 3), (15, 3), (17, 3), (13, 3), (12, 3), (7, 2), (16, 2), (9, 2), (11, 2), (5, 2), (6, 1), (10, 1), (14, 1), (8, 1), (2, 0), (1, 0), (18, 0), (4, 0)]

7. #1 ~ #7: [32, 29, 9, 17, 24, 25, 2]. PB: [3]

In [54]:
top7_random = random.sample([i+1 for i in range(35)], 7)
pb_random = random.sample([i+1 for i in range(20)], 1)

print(f"8. #1 ~ #7: {top7_random}. PB: {pb_random}")

7. #1 ~ #7: [34, 27, 20, 19, 21, 5, 1]. PB: [14]